/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-blockylicious-curvy{
	position: relative;
 }
.wp-block.wp-block-blockylicious-curvy {
    max-width: none !important;
	margin-right: -8px;
	margin-left: -8px;
}
